# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
tf/deployment-lambda-hello.zip
tf/response.json
src/lambda/hello/.venv
src/lambda/hello/__pycache__/
src/lambda/hello/response.json
.DS_Store
tf/build
